:root {
  font-size: 2px;

}

html,
body {
	height: 100%;
  font-size: 16rem;
  font-family: 'Alegreya Sans', sans-serif;
  overflow: hidden;
}



.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}





